body {
    text-rendering: optimizeLegibility;
    color: #373837;
    font-family: Palatino, "Palatino Linotype", serif;
    text-shadow: 0 0 0 transparent;
    font-size: 16px;
    line-height: 22px;
    margin: 22px;
}


a, .header a:visited {
  color: #26ADE4;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  text-shadow: 0 0 0 #DCEEF5;
}

h1 { color: red; font-family: 'Vollkorn', serif; text-shadow: 2px 2px 2px #aaa; letter-spacing: 0.066em; word-spacing: 0.15em; line-height: 1.16em;} 

h1 a { font-size: .5em; font-weight: 200; text-shadow: none; font-family: "Trebuchet MS",Verdana,Helvetica,Arial,sans-serif;}

h2 { clear: both;}

h2 a { text-decoration: none }

h2 img { border:none }

li { font-size: 100%; line-heihgt: 1.68em; }

li cite {
    color: gray;
    font-size: .8em;
    padding-left: 1em;
}

p { color:gray; font-size: .8em; clear: both }

ul.photos { list-style: none; clear: both; overflow: hidden; margin: 1em 2.5em .5em 2.5em; padding: 0;}

ul.photos li { float: left; padding-left: 2px; cursor: pointer; }

ul.photos li img {
    -moz-border-radius: 40px;
    -khtml-border-radius: 40px;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    cursor: pointer;
    opacity: .5;
    -webkit-transition: opacity 250ms ease-out;
    -moz-transition: opacity 250ms ease-out;

}

ul.photos li img:hover {
    opacity: 1;
}

div#big-photo { padding-left: 2.5em; clear: both; }

p#photo-bar { margin: 0 3em; padding: 0; clear:both;}

p#photo-bar a { margin-left: 1em; }

ul.nodot { list-style:none }

